sisr:
  custom:
    - time_limit: 10.0
    - max_iterations: 1000
    - start_temp: 100.0
    - cooling_rate: 0.995
    - max_string_len: 10
    - avg_string_len: 3.0
    - blink_rate: 0.01
    - destroy_ratio: 0.2
    - engine: "custom"
    - must_go: ["mg_lookahead.xml"]
    - post_processing: []
