[submodule "logic/src/pipeline/simulations/wsmart_bin_analysis"]
	path = logic/src/pipeline/simulations/wsmart_bin_analysis
	url = https://github.com/ACFHarbinger/wsmart_bin_analysis.git
[submodule "assets/papers/Simulation-Framework-for-the-MPVRP-with-Profits-in-Smart-Waste-Collection"]
	path = assets/papers/Simulation-Framework-for-the-MPVRP-with-Profits-in-Smart-Waste-Collection
	url = https://github.com/pedrosantos704/Simulation-Framework-for-the-MPVRP-with-Profits-in-Smart-Waste-Collection.git
