repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff
        args: [--fix]
        stages: [pre-push]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        additional_dependencies: ["tokenize-rt==5.2.0"] # Help with some mypy issues if any
        exclude: ^logic/test/|^gui/test/
        stages: [pre-push]

  - repo: local
    hooks:
      - id: check-docstrings
        name: Check Docstring Coverage
        entry: uv run python logic/src/utils/docs/check_docstrings.py
        language: system
        pass_filenames: false
        always_run: true
        args: ["logic/src"]
