# AM Model Hyperparameters
embed_dim: 128
hidden_dim: 512
n_enc_l: 3
n_enc_sl: 1
n_pred_l: 2
n_dec_l: 2
n_heads: 8
norm: "instance"
acti_f: "gelu"
dropout: 0.1
agg: "sum" # Aggregation node
agg_g: "avg" # Aggregation graph
connection: "static_hyper"
hyper_lanes: 4
