# @package _global_

# General
verbose: true
seed: 42
start: 0

# Environment Override
env:
  name: "wcvrp"
  num_loc: 20
  area: "riomaior"
  waste_type: "plastic"
  edge_threshold: 0.3
  edge_method: "knn"
  vertex_method: "mmn"

# HPO Configuration
hpo:
  method: "dehbo"
  metric: "both"
  n_trials: 25 # fevals
  n_epochs_per_trial: 7 # epochs
  fevals: 25
  hop_range: [0.0, 2.0]

  # DE/GA Parameters (HPOConfig fields)
  eta: 5.0
  n_pop: 20
  mutpb: 0.3
  cxpb: 0.5
  max_tres: 40

# Optimization Overrides
optim:
  optimizer: "rmsprop"
  lr: 0.0001
  lr_decay: 1.0
  lr_scheduler: "lambda"

# RL / Baseline
rl:
  baseline: "exponential"
  bl_alpha: 0.05
  exp_beta: 0.8
  max_grad_norm: 1.0

# Training
train:
  batch_size: 256
  accumulation_steps: 1

# Data Configuration
data:
  dataset_size: 128000
  data_distributions: ["gamma1"]
  filename: "hpo"

# Flags
wandb_mode: "disabled"
