# Install PyTorch dependencies
--find-links https://data.pyg.org/whl/torch-2.2.2+cu121.html
torch_scatter==2.1.2

# Install Operations Research proprietary software
gurobipy==11.0.3
--extra-index-url https://pip.hexaly.com
hexaly==14.0.20251008
